
span.rotated {
    transform: rotate(180deg); 
    writing-mode: vertical-lr;
}

.nav-item {
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Montserrat', sans-serif;
}

.underline {
    margin-top: -20px;
}
.nav-hr{
    border: 1.5px solid #a2c3c3;
    border-radius: 5px; 
    color:#a2c3c3;
}

/* p {
    position: absolute;
    left: 45%;
    
}
.navbar {
    padding-top: 0;
}
.navbar-expand-lg .navbar-collapse {
    padding: 0;
    margin-top: 1%;
    display: flex!important;
} */

/* For mobile  */

@media screen and (min-width: 320px) and (max-width: 480px) {
    body{
        margin: 1px;
    }
    div.text-center.mt-4.mb-3{
        position: absolute;
    }
    .nav-heading {
        display: inline-block;
        position: relative;
        left: 30px;
        text-align: left;
    }

    .navbar {
        position: relative;
        vertical-align: super;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
    
    .nav-link {
        /* border-bottom: 1px solid black; */
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    .nav-hr {
        visibility: hidden;
    }
}